<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.HeroDao">
	<insert id="add">
		INSERT INTO t_lol_hero (
		<if test="id != null">
			id,
		</if>
			name,
			hp,
			damage
		) VALUES (
		<if test="id != null">
			#{id},
		</if>
			#{name},
			#{hp},
			#{damage}
		)
	</insert>

	<update id="update">
		UPDATE t_lol_hero
		SET 
		 name = #{name},
		 hp = #{hp},
		 damage = #{damage}
		WHERE
			id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM t_lol_hero WHERE id = #{id}
	</delete>

	<select id="get" resultType="com.ssm.entity.Hero">
		SELECT
			h.id AS `id`,
			h.name AS `name`,
			h.hp AS `hp`,
			h.damage AS `damage`
		FROM
			t_lol_hero h
		WHERE
			id = #{id}
	</select>

	<select id="findList" resultType="com.ssm.entity.Hero">
		SELECT
			h.id AS `id`,
			h.name AS `name`,
			h.hp AS `hp`,
			h.damage AS `damage`
		FROM
			t_lol_hero h
		<if test="start!=null and count!=null">
			limit #{start},#{count}
		</if>
	</select>

	<select id="total" resultType="int">
		SELECT
			COUNT(1)
		FROM
			t_lol_hero
	</select>
</mapper>